<ul id='the-list'>
  <% @releases.each do |release| %>
    <li>
      <div class='art'>
        <img src='<%= release.cover_art %>' alt='art'>
      </div>
      <div class='info'>
        <h2 class='artist'><%= release.artist %></h2>
        <h2 class='title'><%= release.title %></h2>
        <p><%= release.cat_no %>
        <time><%= release.release_date %></time>
        <a href="/digital/<%= release.cat_no %>">digital</a> / <a href="/physical/<%= release.cat_no %>">physical</a></p>
      </div>
    </li>
  <% end %>
  <!--<li>
    <div class='art'>
      <img src='http://www.fillmurray.com/270/250' alt='art'>
    </div>
    <div class='info'>
      <h2 class='artist'>pascäal</h2>
      <h2 class='title'>butt science</h2>
      <p>wip-003
      <time>august 4, 2014</time>
      <a href='/digital/WIP-003'>digital</a> / <a href='/digital/WIP-003'>physical</a></p>
    </div>
  </li>-->
</ul>

<%= erb :footer %>