<div class="info drag textbox">
  <h2 class="artist"><%= release.artist %></h2>
  <h2 class="release"><%= release.title %></h2>
  <time><%= release.release_date %></time>
  <p><%= release.cat_no %></p>
  <pre><%= release.description %></pre>

  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="business" value="waysinnerpass@gmail.com">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="add" value="1">
    <input type="hidden" name="item_name" value="<%= release.artist %> - <%= release.title %>">
    <input type="hidden" name="item_number" value="<%= release.cat_no %>">
    <input type="hidden" name="amount" value="1.99">
    <input type="submit" value="ADD TO CART" border="0" name="submit">
  </form>
</div>

<div id="back-images">
  <% background_images.each do |image_url| %>
    <img src="<%= image_url %>">
  <% end %>
</div>

<%= erb :footer %>