<div id="back-images">
  <img src="//upload.wikimedia.org/wikipedia/commons/e/e2/Sex_statue_in_temple.jpeg">
  <img src="//farm1.staticflickr.com/217/458966029_3670c6ecf3_o.jpg">
  <img src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Sex_statue_in_Thirumayam_temple.jpeg/1280px-Sex_statue_in_Thirumayam_temple.jpeg">
</div>

<div class="info drag">
  <h2 class="artist"><%= release.artist %></h2>
  <h2 class="release"><%= release.title %></h2>
  <time><%= release.release_date %></time>
  <p><%= release.cat_no %></p>
  <pre><%= release.description %></pre>
</div>

<%= erb :footer %>