<div id="back-images">
  <% background_images.each do |image_url| %>
    <img src="<%= image_url %>">
  <% end %>
</div>

<div class="info drag">
  <h2 class="artist"><%= release.artist %></h2>
  <h2 class="release"><%= release.title %></h2>
  <time><%= release.release_date %></time>
  <p><%= release.cat_no %></p>
  <pre><%= release.description %></pre>
</div>

<%= erb :footer %>