<div id='container' style='padding: 25px'>

  <h1> ways inner pass</h1>

  <img width=300 height=200 align="right" src="<%= cover_art.url %>" alt="No Cover Art">
  <p class="lead"><b><%= release.cat_no %></b> (edit)</p>

  <form role="form" style="width:600px" action="/release/<%= release.cat_no %>" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label>Artist</label>
      <input type="text" class="form-control" name="artist" value=<%= release.artist %>>
    </div>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" value=<%= release.title %>>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="description" rows="5"><%= h release.description %></textarea>
    </div>
    <div class="form-group">
      <label>Release Date</label>
      <input name="release_date"  class="form-control" type="date" value=<%= release.release_date %> style="width: 175px">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="published" value=<%= release.published %> > Published
      </label>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
  </form>

</div>

