<script>

  function deleteRelease(releaseId) {
    if (confirm("Really delete??")) {
      $.post('/release/' + releaseId, {_method: 'delete'}, function(result_data) {
        location.reload();
      }).error(function(){
        console.log("Error trying to DELETE");
      });
    } else {
      return false;
    }
  }

</script>


<div id='container' style='padding-left: 10px'>

  <h1> ways inner pass</h1>

  <p class="lead">Here's our firstest way to deal w/ the dataz. Try adding rows and stuff</p>

  <table class="table table-striped" style='width: 1200px;'>
    <thead>
      <tr>
        <th>Cat No.</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Release Date</th>
        <th>Links</th>
        <th>Published</th>
      </tr>
    </thead>
    <tbody>
      <% @releases.each do |release| %>
        <tr>
          <td><%= release.cat_no %></td>
          <td><%= release.artist %></td>
          <td><%= release.title %></td>
          <td><%= release.release_date %></td>
          <td>
            <div class="btn-group">
              <a class="btn btn-default btn-xs" href="/physical/<%= release.cat_no %>">Physical</a>
              <a class="btn btn-default btn-xs" href="/digital/<%= release.cat_no %>">Digital</a>
            </div>
          </td>
          <td><%= release.published %></td>
          <td>
            <a class="btn btn-info btn-xs" href='/release/<%= release.cat_no %>/edit'>Edit</a>
            <button class="btn btn-danger btn-xs" onClick='deleteRelease(<%= release.id %>)'>Delete</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><a class="btn btn-primary btn-lg" role="button" href="release/new">Add Release</a></p>

</div>

